
body{
    font-family: 'Red Hat Display'!important; 
    background-image: url(images/pattern-background-desktop.svg); 
    background-repeat: no-repeat;
    z-index: 999;
    background-color:hsl(225, 100%, 94%)!important;
}
.parent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.card-body{
    display: flex;
    padding: 50px;
    font-size: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color:#fff ;
}
.card-body p{
    text-align: center;
    font-size:15px;
    color: rgb(119, 113, 113);
}
.card-body h4{
    margin:12px;
    font-weight: 700;
}
.inside-card{
    background-color:  hsl(0, 0%, 100%);
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    width: 100%;
    padding: 0 10px;
    border-radius: 8px;
    background-color:rgb(250, 250, 253);
    margin-bottom: 30px;
}
.inside-card .annual{
    margin-right: 50px;
}

.inside-card a{
    margin-left:30px;
    color: hsl(245, 75%, 52%);
    font-size: 13px;
}
.inside-card a:hover{
    text-decoration: none;
    font-weight: 500;
    color:rgb(119, 113, 113);
}
.inside-card img{
    max-width: 100%;
    padding-right: 10px;
}
.inside-card .annual .plan{
    font-weight: 900;
    font-size: 10px;
}
.inside-card .annual .price{
    color:rgb(119, 113, 113) ;

}
.btn-2{
    background-color: hsl(245, 75%, 52%) !important;
    width: 100%;
    border: none!important;
    margin-bottom: 18px;
    border-radius:.5rem!important;
}
.btn-2:hover{
    opacity: 70%;
}
.card-body .Cancel{
    color: rgb(119, 113, 113);
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 15px;
}
.card-body .Cancel:hover{
    color:#000;
    cursor: pointer;
}


